* {
  box-sizing: border-box;
}

.header {
  min-width: 1250px;
}

.Titlebar {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://s0.rbk.ru/v6_top_pics/media/img/5/53/756445122757535.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 430px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  min-width: 1220px;
  margin: 0 auto;
}

.TitlebarInner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  // padding: 0 30px;
  min-width: 1220px;
}

.logo img {
  width: 120px;
}

.TitlebarText {
  padding-left: 30px;
  text-align: left;

  h1 {
    font-size: 48px;
    margin: 0;
    font-family: "Lora", Arial, sans-serif;
  }

  p {
    font-size: 20px;
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
}

.headerNavGroup {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 1220px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .topBar {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
    height: 50px;
    position: absolute;
    top: -50px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }

    a:active,
    a:hover {
      text-decoration: underline;
    }

    .topBarInner {
      background-color: rgb(0, 98, 163);
      padding: 0 30px;
      min-width: 1220px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        font-family: "Source Sans Pro", Arial, sans-serif;
      }

      nav {
        ul {
          display: flex;

          li {
            margin-right: 30px;
          }
        }
      }

      .languages {
        ul {
          display: flex;
          width: 65px;
          justify-content: space-between;
        }
      }
    }
  }

  .navBar {
    display: flex;

    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;

    .navBarInner {
      min-width: 1220px;
      padding: 0;
      margin: 0 auto;
      display: flex;
    }

    .menuItem {
      text-decoration: none;
      color: #545e69;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-weight: 600;
      font-size: 0.9375em;
      letter-spacing: 0.03em;
      padding: 10px 15px;
      display: block;
    }

    .menuItem:hover,
    .menuItem:active {
      color: rgb(0, 98, 163);
      background-color: #545e6917;
      border-radius: 3px;
    }

    nav {
      padding: 0;
      min-width: 1220px;
      padding-top: 22px;

      .menuItems {
        display: flex;
        flex-direction: row;
        // position: relative;
        min-width: 1220px;

        .visi {
          background-color: red;
        }

        .menuItemsInner {
          padding-bottom: 22px;
        }

        a {
          padding: 10px 15px;
        }

        li {
          position: relative;
        }

        .subMenu {
          position: absolute;
          z-index: 100;
          top: 55px;

          .triangle {
            width: 12px;
            height: 12px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #fff;
            position: absolute;
            transform: rotate(45deg);
            top: -6px;
            left: 18px;
          }
        }

        .subMenuInner {
          // padding: 30px 0;

          border: 1px solid rgba(0, 0, 0, 0.1);
          background: #fff;

          ul {
            width: 520px;
            padding: 15px 0;
          }

          li {
            padding: 0 15px;
          }

          a {
            text-decoration: none;
            font-size: 0.937em;
            color: #545e69;
            padding: 7px 15px 6px 15px;
            display: block;
            font-family: "Source Sans Pro", Arial, sans-serif;
          }

          a:hover,
          a:active {
            color: rgb(0, 98, 163);
          }
        }
      }
    }
  }
}
