* {
  box-sizing: border-box;
}

.news {
  background-color: rgba(225, 231, 236, 0.4);
  min-width: 1250px;
  padding: 0;
}

.header {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 36px;
    font-family: "Lora", Arial, sans-serif;
    margin: 0;
    color: #1e2427;
  }

  .description {
    font-size: 18px;
    margin: 0;
    margin-top: 15px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: #545e69;
  }
}

.newsContent {
  display: flex;
  position: relative;

  .pattern {
    width: 82px;
    height: 100px;
    border: 3px solid rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 24px;
    left: -44px;
  }
}

.sliderBlock {
  width: 939px;
  height: 300px;

  position: relative;

  .next,
  .prev {
    position: absolute;
    top: 130px;
    width: 50px;
    height: 50px;
    z-index: 4;
    border-radius: 50%;
    box-shadow: 2px 0 40px rgba($color: #000000, $alpha: 0.25);
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
  }

  .next:active {
    padding-left: 8px;
  }
  .prev:active {
    padding-right: 8px;
  }

  .next {
    right: -15px;
  }

  .prev {
    left: -15px;
  }
}

.slide {
  text-align: center;
  width: 313px;
  height: 300px;
  padding: 0 15px;
  cursor: pointer;
}
